#new-journey-button, #music-button, #settings-button, #volume-button, #volume-button-mute, #volume-button-low, #volume-button-medium, #volume-button-high, #title-label {
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat no-repeat;
    -fx-background-position: center;
}

.menu-button {
    -fx-min-width: 367px;
    -fx-min-height: 121px;
}

.menu-icon {
    -fx-min-width: 245px;
    -fx-min-height: 245px;
}


#title-label {
    -fx-background-image: url("/assets/images/title-normal.png");
    -fx-background-size: 100% 100%;
}

#title-label-clicked {
    -fx-background-image: url("/assets/images/title-special.png");
    -fx-background-size: 100% 100%;
}

#new-journey-button {
    -fx-background-image: url("/assets/icons/new-journey-button.png");
}

#new-journey-button:hover {

}

#music-button {
    -fx-background-image: url("/assets/icons/music-button.png");
    -fx-transition-duration: 0.2s;
}

#music-button:hover {
    -fx-rotate: -2deg;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

#settings-button {
    -fx-background-image: url("/assets/icons/settings-button.png");
}

#settings-button:hover {
    -fx-rotate: 2deg;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

#volume-button-mute{

    -fx-background-image: url("/assets/icons/volume-mute.png");

}

#volume-button-mute:hover {

    -fx-background-image: url("/assets/icons/volume-mute.png");
    -fx-rotate: -2deg;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;

}

#volume-button-low{

    -fx-background-image: url("/assets/icons/volume-low.png");

}

#volume-button-low:hover {

    -fx-background-image: url("/assets/icons/volume-low.png");
    -fx-rotate: -2deg;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;

}

#volume-button-medium{

    -fx-background-image: url("/assets/icons/volume-medium.png");


}

#volume-button-medium:hover {

    -fx-background-image: url("/assets/icons/volume-medium.png");
    -fx-rotate: -2deg;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;

}

#volume-button-high{

    -fx-background-image: url("/assets/icons/volume-high.png");

}

#volume-button-high:hover {

    -fx-background-image: url("/assets/icons/volume-high.png");
    -fx-rotate: -2deg;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;

}

#main-menu-panel {
    -fx-background-image: url("/assets/images/arlies-journey.png");
    -fx-background-size: 100% 100%;
}

#in-game-view {
    -fx-background-image: url("/assets/images/mountains-1.png");
    -fx-background-size: 100% 85%;
    -fx-background-repeat: repeat-x;
}

#in-game-view {
    -fx-background-image: url("/assets/images/backgroundColor.png");
    -fx-background-size: 100% 85%;
    -fx-background-repeat: repeat-x;
}

#background-pane {
    -fx-background-image: url("/assets/images/background.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: repeat-x;
}

